.sidebarOption {
  color:grey;
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
}

.sidebar > hr {
  margin: 10px auto;
  width: 90%;
  border: 1px solid #282828;
}


.sidebarOption:hover {
  color:white;
}

.sidebarOption__icon {
    margin-left: 10px;
    margin-right: 10px;
}

.sidebarOption > p {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
}
